#j1{
    background:linear-gradient(to bottom, #856fff 0%, #54c6e9 100%);;
}
#j2{
    background:linear-gradient(to bottom, #6ee650 0%, #ddf031 100%);;
}
#j3{
    background:linear-gradient(to bottom, #f180f5 0%, #e9e1df 100%);;
}
#j8{
    padding-left: 0%;
}
